/* src/components/ImageCard.css */

.image-card {
  position: relative;
  break-inside: avoid;
  width: 100%;
  margin-bottom: 20px;

  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--card-background);
  transition: transform 0.2s ease-in-out;
}

.image-card:hover {
  transform: translateY(-5px);
}

.image-link {
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.image-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Ajustamos el padding para que los elementos no estén tan pegados a los bordes */
  padding: 15px; /* Ya estaba en 15px, si quieres más margen interior, puedes probar 20px */
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.image-card:hover .overlay {
  opacity: 1;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px; /* Espacio entre los botones "Guardar" y "Ver" */
  z-index: 2;
  /* Añadimos un pequeño padding-right si el padding del overlay no es suficiente */
  /* Si el padding del overlay ya los despega, esto podría no ser necesario */
  padding-right: 5px; /* Pequeño ajuste si se pegan demasiado a la derecha */
}

.save-button, .view-button {
  background-color: rgba(var(--secondary-color-rgb), 0.9);
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.save-button:hover, .view-button:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
}

.save-button.saved {
  background-color: var(--primary-color);
}

.image-description {
  margin-top: auto;
  font-size: 0.9em;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}